<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>common_main_test</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/board/notice_side.css">
    <link rel="stylesheet" href="/css/board/notice_view.css">
    <!-- ⭐본인 css 링크 작성⭐ -->
</head>

<body>
<header>
    <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
</header>
<div>
    <aside>
        <th:block th:replace="~{html/fragments/board_aside :: aside_board}"></th:block>
    </aside>
    <div class="background-gray middle-gray">
        <div class="background-white middle-white">
            <div class="contents-box">
                <form action="" method="get">
                    <div class="board_view font">
                        <div class="title">
                            <P id="view-title" class="font" th:text="${boardDto.title}"></P>
                            <P id="view-name" class="font" th:text="${boardDto.user_id}"></P>
                            <P id="view-date" class="font" th:text="${boardDto.created_at}"></P>
                            <P><img class="eyes" src="../../img/board/눈.png" th:text="${boardDto.views}"></P>
                        </div>
                        <div class="cont font">
                            <P id="view-content" style="white-space: pre" th:text="${boardDto.content}"></P>
                        </div>
                        <div class="bt_wrap">
                            <a th:href="@{/notification/notification_board_list}" class="on">목록</a>
                            <a th:href="@{/notification/notification_edit_form(no=${boardDto.no})}" class="edit">수정</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
</footer>
<!--<script src="/js/common_main_header.js"></script>-->
<!--<script src="/js/common_main_aside.js"></script>-->
<!--<script src="/js/common_main_footer.js"></script>-->
<script src="/js/board/board_side.js"></script>
<!-- ⭐aside에 내용 추가 시 여기에 js 파일 추가⭐ -->
</body>

</html>