<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 보기</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/board/notice_side.css">
    <link rel="stylesheet" href="/css/board/notice_view.css">
    <link rel="stylesheet" href="/css/board/notice_edit.css">
</head>

<body>
<header>
    <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
</header>
<div>
    <aside>
        <th:block th:replace="~{html/fragments/board_aside :: aside_board}"></th:block>
    </aside>
    <div class="background-gray middle-gray">
        <div class="background-white middle-white">
            <div class="contents-box">
                <form th:action="@{/notification/notification_edit_confirm}" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="no" id="no" th:value="${boardDto.no}">
                <div class="board_view">
                    <div class="title">
                        <input class="font" type="text" id="view-title" name="title" value="제목을 입력하세요"
                        th:value="${boardDto.title}">
                        <span id="view-name" class="font" th:text="${boardDto.user_id}"></span>
                        <span id="view-date" class="font" th:text="${boardDto.created_at}"></span>
                        <span><img class="eyes" src="../../img/board/눈.png" th:text="${boardDto.views}"></span>
                    </div>
                    <div class="cont">
                        <!-- 글 내용을 입력할 곳 -->
                        <textarea class="edit-content font" name="content" rows="10" cols="50"
                        placeholder="내용을 입력하세요" th:text="${boardDto.content}">
                        </textarea>
                    </div>
                    <div class="bt_wrap font">
                        <input class="on font" type="submit" value="저장">
                        <a class="on" th:href="@{/notification/notification_board_list}">취소</a>
                        <a class="on" th:href="@{/notification/notification_delete_confirm(no=${boardDto.no})}"
                        onclick="return confirm('삭제 하시겠습니까?');">삭제</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
</footer>
<!--    <script src="/js/common_main_header.js"></script>-->
<!--    <script src="/js/common_main_aside.js"></script>-->
<!--    <script src="/js/common_main_footer.js"></script>-->
    <script src="/js/board/board_side.js"></script>
    <!-- ⭐aside에 내용 추가 시 여기에 js 파일 추가⭐ -->
</body>

</html>
