<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/board/notice_side.css">
    <link rel="stylesheet" href="/css/board/notice_write.css">
</head>
<body>
<header>
    <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
</header>
<div>
    <aside>
        <th:block th:replace="~{html/fragments/board_aside :: aside_board}"></th:block>
    </aside>
    <div class="background-gray middle-gray">
        <div class="background-white middle-white">
            <form th:action="@{/notification/notification_write_confirm}" method="POST" enctype="multipart/form-data">
                <div class="contents-box">
                    <div class="title-top">
                        <p class="title-write">게시판 등록</p>
                        <div class="write-s-open-id">
                            <select name="b_category_no" class="write-select font">
                                <option value="1">전체 공지</option>
                                <option value="2">JAVA 공지</option>
                                <option value="3">AI 공지</option>
                                <option value="4">IOT 공지</option>
                            </select>
                        </div>
                    </div>
                    <div class="back-color">
                        <div class="title">
                            <p class="write-title">제목</p>
                            <input name="title" class="write-title-box font" type="text" placeholder="제목을 입력하세요" required>
                            <p th:if="${titleError}" th:text="${titleError}" class="error-message"></p>
                        </div>
                        <div class="write-content-textTitle"></div>
                            <p class="board-content">내용</p>
                        <div class="write-content">
                            <textarea name="content" class="write-content-textBox font" placeholder="내용을 입력하여 주세요." required></textarea>
                        </div>
                        <div>
                            <p th:if="${contentError}" th:text="${contentError}" class="error-messages"></p>
                        </div>
                        <div class="attached-file">
                            <input type="file" name="file" id="file" class="font">
                        </div>
                        <div class="pagination">
                            <button type="submit" class="write font">등록</button>
                            <a th:href="@{/notification/notification_board_list}" class="cancel font">취소</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
</footer>
<script src="/js/board/board_side.js"></script>
</body>
</html>
