<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/member/admin_approve_list.css">
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
    </header>
    <div>
        <aside>
            <th:block th:replace="~{html/fragments/common_main_aside :: aside}"></th:block>
        </aside>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <div class="approve-list-box">
                        <div class="approve-list-header-box">
                            <p class="approve-list-header approve-list-title">
                                회원가입 요청 리스트
                            </p>
                            <p class="approve-list-header approve-list-watting-count">
                                승인 대기 <span class="watting-count" th:text="${#numbers.formatInteger(count, 2)}"></span>명
                            </p>
                        </div>
                        <div class="approve-list-contents-box">
                            <table class="approve-list-table">
                                <tr class="approve-list-table-headers">
                                    <th class="table-header table-name">이름</th>
                                    <th class="table-header table-id">아이디</th>
                                    <th class="table-header table-phone">전화번호</th>
                                    <th class="table-header table-edu-type">교육과정</th>
                                    <th class="table-header table-approve-status">승인 상태</th>
                                </tr>
                            </table>
                            <div class="approve-list-table-datas-box">
                                <table class="approve-list-table-datas">
                                    <tr class="approve-list-table-data" th:each="user : ${wattingUserList}">
                                        <td class="table-data table-name" th:text="${user.name}"></td>
                                        <td class="table-data table-id" th:text="${user.id}"></td>
                                        <td class="table-data table-phone" th:text="${user.phone}"></td>
                                        <td class="table-data table-edu-type">
                                            <span th:text="${@memberUtil.extractEnglish(user.type)}"></span>
                                        </td>
                                        <td class="table-data table-approve-status">
                                            <form th:action="@{/admin/approve_list_approve}" method="post" style="display:inline;">
                                                <input type="hidden" name="id" th:value="${user.id}" />
                                                <button type="submit" class="btn approve-btn font">승인</button>
                                            </form>
                                            <form th:action="@{/admin/approve_list_refuse}" method="post" style="display:inline;">
                                                <input type="hidden" name="id" th:value="${user.id}" />
                                                <button type="submit" class="btn reject-btn font">반려</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
</body>
</html>