<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_member.css">
    <link rel="stylesheet" href="/css/member/user_reset_pw.css">
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_member_header :: header-member}"></th:block>
    </header>
    <div>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <div class="reset-pw-box">
                        <p class="reset-pw-title">비밀번호 재설정</p>
                        <form class="reset-pw-form" method="post" action="/member/sign_in_reset_pw_check" id="resetPwForm">
                            <input class="reset-pw-id reset-pw-input reset-pw" type="email" name="id" placeholder="아이디">
                            <input class="reset-pw-name reset-pw-input reset-pw" type="text" name="name" placeholder="이름">
                            <input class="reset-pw-phone reset-pw-input reset-pw" type="tel" name="phone" pattern="010\d{8}" placeholder="전화번호">
                            <input class="reset-pw-btn reset-pw" type="submit" value="확인">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
</body> 
</html>