<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/member/user_info_del_account.css">
    <link rel="stylesheet" href="/css/member/user_mypage_aside.css">
    <link rel="stylesheet" href="/css/member/user_mypage_info_aside.css">
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
    </header>
    <div>
        <aside>
            <th:block th:replace="~{html/fragments/mypage_aside :: aside-mypage}"></th:block>
        </aside>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <form class="pw-input-form" method="post" action="/member/mypage_account_del_pw_check" id="infoPwCheckForm">
                        <div class="pw-input-box">
                            <div class="warning-msg-box">
                                <div class="warning-sign">⚠️</div>
                                <div class="warning-msg">회원탈퇴를 원하시면<br><span>비밀번호</span>를 입력해주세요.</div>
                            </div>
                            <input class="pw-input font" type="password" name="pw" placeholder="비밀번호">
                            <p class="info-msg" th:style="${error} ? 'visibility: visible' : 'visibility: hidden'">올바른 비밀번호가 아닙니다.</p>
                        </div>
                        <input class="btn font" type="submit" value="확인">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
    <script src="/js/member/user_mypage_aside.js"></script>
</body>
</html>