<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_member.css">
    <link rel="stylesheet" href="/css/member/user_reset_pw_check_num.css">
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_member_header :: header-member}"></th:block>
    </header>
    <div>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <div class="reset-pw-box">
                        <p class="reset-pw-title">비밀번호 재설정</p>
                        <form class="reset-pw-form" method="post" action="/member/num_check" id="resetPwForm">
                            <input class="input" type="text" name="check_num" placeholder="인증번호">
                            <div class="info-msg-box">
                                <p class="num-check info-msg" th:style="${error} ? 'visibility: visible' : 'visibility: hidden'">인증번호가 틀렸습니다.</p>
                                <p class="remain-time info-msg"></p>
                            </div>
                            <div class="btn-box">
                                <button class="check-num-resend-btn btn" type="button" th:onclick="|location.href='@{/member/mail_send}'|">인증번호 재발송</button>
                                <button class="check-btn btn" type="submit">확인</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
    <script>
        function startTimer(){
            fetch('/member/start_timer')
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    updateRemainingTime();
                });
        }

        function updateRemainingTime(){
            fetch('/member/remaining_time')
                .then(response => response.json())
                .then(seconds => {
                    if (seconds > 0) {
                        let minutes = Math.floor(seconds / 60);
                        let remainingSeconds = seconds % 60;
                        document.querySelector('.remain-time').innerText = `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
                        setTimeout(updateRemainingTime, 1000);
                    } else {
                        document.querySelector('.remain-time').innerText = '제한 시간이 만료되었습니다.';
                        alert("인증번호가 만료되어 재발송됩니다. 메일을 확인해주세요.");
                        window.location.href = "/member/mail_send";

                    }
                });
        }

        // 페이지 로드 시 타이머 시작
        document.addEventListener("DOMContentLoaded", function() {
            startTimer();
        });
    </script>
</body> 
</html>