#wrap{
  width: 950px;
  max-height: 650px;
  margin: 0 auto;
  margin-top: 25px;
}

.study-room-logo{
  margin-bottom: 30px;
}

.study-filter-span {
  font-size: 30px;
}

/* 카테고리별로 box 크기 고정 */
.study-room-box {
  width: 250px;
  height: 550px;
  max-height: 550px;
  border: 1px solid var(--aside_gray);
  background: var(--aside_gray);
  border-radius: 20px;
  padding: 20px;
  font-weight: 550;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.study-room-category{
  padding: 10px;
  width: 220px;
  height: 20px;
  border: 1px solid #111B47;
  background: #111B47;
  border-radius: 10px;
}

.study-room-category > span {
  color: #fff;
  margin-left: 10px;
  font-weight: 550;
  /* height: 20px; */
  line-height: 20px;
}

.study-room-document{
  padding: 10px;
  width: 220px;
  height: 100px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 10px;
  margin: 20px 0;
}

.study-room-document > div{
  margin-bottom: 5px;
}

.study-room-doc-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.study-room-doc-2{
  height: 50px;
  max-height: 260px;
  width: 220px;
  overflow-y: scroll;
}

.study-room-doc-2{
  margin-left: 4.5px;
  font-family: 'S-CoreDream-3Light';
}

.study-room-doc-2::-webkit-scrollbar{
  display: none;
}

.doc-font {
  color: rgba(0, 0, 0, 0.438);
  margin-left: 5px;
}

a.doc-font:hover {
  color: black;
}

.add-btn{
  padding: 10px;
  width: 220px;
  height: 15px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  line-height: 10px;
  margin-top: 10px;
}

button {
  padding: 0 3px;
  border: 1px solid #111B47;
  background: #111B47;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
}

/*등록 박스*/
/*.study-room-document{*/
/*  padding: 10px;*/
/*  width: 220px;*/
/*  height: 300px;*/
/*  border: 1px solid #fff;*/
/*  background: #fff;*/
/*  border-radius: 10px;*/
/*  margin: 20px 0;*/
/*}*/

/*.study-room-document > div{*/
/*  margin-bottom: 5px;*/
/*}*/

textarea{
  font-family: 'S-CoreDream-3Light';
  border: none;
  background-color: var(--aside_gray);
  padding: 10px;
  resize: none;
  font-size: 0.85em;
  width: 90%;
  height: 280px;
  line-height: 20px;
  resize: none;
}

/*.study-room-doc-2{*/
/*  height: 260px;*/
/*  max-height: 260px;*/
/*  width: 220px;*/
/*  !*overflow-y: scroll;*!*/
/*}*/

.study-room-doc-3{
  width: 210px;
}

/*.study-room-doc-2::-webkit-scrollbar{*/
/*  display: block;*/
/*}*/

textarea:focus{
  outline: none;
}

textarea::-webkit-scrollbar{
  display: block;
}


.btn{
  font-family: 'S-CoreDream-3Light';
  color: rgba(0, 0, 0, 0.438);
  border: none;
  background: #fff;
  margin-top: 5px;
}

#register_btn{
  margin-right: 10px;
}

.btn:hover{
  color: #000;
}

.study-room-doc-btn{
  float: right;
}

.container{
  width: 220px;
}