<div class="study-room-aside-box" th:fragment="aside">
    <div class="study-aside" >
        <div class="memeber-list-title">
            <ul class="study-info-aside">
                <li class=" study-info study-member-list">
                    <i class="fa-solid fa-users"></i>
                    <p class="aside-text study-info-text font title-p">List of Members</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="member-list">
        <ul class="study-info-aside scroll-ul">
        </ul>
    </div>
</div>

