<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 모집 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/study/study_register.css" >
    <link rel="stylesheet" href="/css/study/study_aside.css">
    <script crossOrigin="anonymous"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script th:replace="~{/html/study/study_register_js.html::js}"></script>
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
    </header>
    <div>
        <aside>
            <th:block th:replace="~{html/fragments/common_main_aside :: aside}"></th:block>
        </aside>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <!-- ⭐여기에 코드 작성⭐ -->
                    <div class="study-regist-box">
                        <div class="study-text">
                          <p class="study-text-p">스터디 모집</p>
                        </div>
                        <form method="post" th:action="@{/study/study_register_confirm}" name="study_regist_form">
                            <table>
                            <tr>
                              <td><span class="title">제목: </span></td>
                              <td><input class="study-regist-title study-regist-input" type="text" id="title" name="title" placeholder="제목을 입력하세요."></td>
                            </tr>
                            <tr>
                              <td><span class="date">기간: </span></td>
                              <td><input class="study-regist-start study-regist-input" type="date" name="started_at" id="started_at" /> ~ <input class="study-regist-end study-regist-input" type="date" name="finished_at" id="finished_at"/></td>
                            </tr>
                            <tr>
                              <td><span class="count">정원: </span></td>
                              <td><input class="study-regist-count study-regist-input" type="number" id="count" name="count" min="2" />명</td>
                            </tr>
                            <tr>
                              <td class="content-td"><span class="content">내용: </span></td>
                              <td><textarea class="study-regist-content" placeholder="내용을 입력하세요." id="content" name="content" rows="15" cols="62"></textarea></td>
                            </tr>
                          </table>
                          <div class="study-btn-box">
                            <input class="study-regist-btn study-regist-input study-btn" type="button" onclick="check_input_box_by_null();" value="등록">
                            <input class="study-cancel-btn study-regist-input study-btn" type="button" onclick="history.back()" value="취소">
                          </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
<!--    <script src="/js/common_main_header.js"></script>-->
<!--    <script src="/js/common_main_aside.js"></script>-->
<!--    <script src="/js/common_main_footer.js"></script>-->
    <script src="/js/study/study_aside.js"></script>
</body>
</html>