<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디룸 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <!-- ⭐본인 css 링크 작성⭐ -->
    <link rel="stylesheet" href="/css/study/study_room.css">
    <link rel="stylesheet" href="/css/study/study_room_aside.css">
    <script crossOrigin="anonymous"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script th:replace="~{/html/study/study_room_js.html::js}"></script>
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
    </header>
    <div>
        <aside>
            <th:block th:replace="~{html/fragments/common_main_aside :: aside}"></th:block>
        </aside>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <!-- ⭐여기에 코드 작성⭐ -->
                    <div id="wrap" th:study_no="${study_no}">
                        <div class="study-room-logo">
                            <span class="study-filter-span">STUDY ROOM</span>
                        </div>
                        <div class="study-room-box" >
                            <div class="study-room-category">
                                <span>|</span>
                                <span>Went Well</span>
                            </div>
                            <div class="study-room-container">

                            </div>
<!--                            <div class="study-room-document" data-m_category_no="1" id="went_well">-->

<!--                            </div>-->
                            <div class="add-btn" id="plus_btn">
                                <button id="well_btn" class="hidden-btn" data-m_category_no="1">+</button>
                            </div>
                        </div>

                        
                        <div class="study-room-box">
                            <div class="study-room-category">
                                <span>|</span>
                                <span>To Improve</span>
                            </div>
                            <div class="study-room-document" id="to_improve">

                            </div> 
                            <div class="add-btn" >
                                <button id="improve_btn" data-m_category_no="2">+</button>
                            </div>
                        </div>


                        <div class="study-room-box">
                            <div class="study-room-category">
                                <span>|</span>
                                <span>To Do List</span>
                            </div>
                            <div class="study-room-document" id="to_do_list">

                            </div> 
                            <div class="add-btn" >
                                <button id="todo_btn" data-m_category_no="3">+</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
<!--    <script src="/js/common_main_header.js"></script>-->
<!--    <script src="/js/common_main_aside.js"></script>-->
<!--    <script src="/js/common_main_footer.js"></script>-->
    <script src="/js/study/study_room_aside.js"></script>
</body>
</html>