<script th:fragment="js" th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        console.log("DOCUMENT WILL BE READY TO TALK");

        // 이벤트 핸들러 초기화
        init_events();
    });

    /*
     * init_events() START
     */
    function init_events() {
        console.log("init_events() CALLED!!");

        // 즐겨찾기
        $(document).on('click', '.study-fav-icon1', function (e) {
            console.log("btn_fav CLICK HANDLER");

            let user_id = $(this).parent().attr('id');
            let b_no = $(this).parent().attr('class').split(' ')[0];

            console.log("id==>" + user_id);
            console.log("b_no==>" + b_no);

            // `fav_count`를 매번 클릭할 때마다 새로 가져옵니다.
            let fav_count = $(this).find('a').hasClass('none-fav-btn') ? 0 : 1;
            console.log("fav_count::::" + fav_count);

            fav_btn_confirm(user_id, b_no, fav_count);
        });
    }

    /*
     * fav_btn_confirm() START
     */
    function fav_btn_confirm(user_id, b_no, fav_count){
        console.log('fav_btn_confirm() CALLED!!');

        b_no = Number(b_no);

        // 특수 문자를 이스케이프 처리하는 함수
        function escapeSelector(selector) {
            return selector.replace(/([ #;?%&,.+*~':"!^$[\]()=>|\/@])/g, '\\$1');
        }

        let escaped_User_id = escapeSelector(user_id);

        let fav_url;
        // if(fav_count === 0) {
        //     fav_url = `/study/study_detail_fav_confirm?user_id=${user_id}&b_no=${b_no}`;
        // } else {
        //     fav_url = `/study/study_detail_cancel_confirm?user_id=${user_id}&b_no=${b_no}`;
        // }
        let likeIcon = $("#" + escaped_User_id + "." + b_no + ' div.study-fav-icon1 a.fav i');
        if(likeIcon.hasClass('fa-regular fa-star')) {
            fav_url = `/study/study_detail_fav_confirm?user_id=${user_id}&b_no=${b_no}`;
        } else {
            fav_url = `/study/study_detail_cancel_confirm?user_id=${user_id}&b_no=${b_no}`;
        }

        $.ajax({
            url: fav_url,
            method: 'POST',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('AJAX SUCCESS - fav_btn_confirm()');
                console.log(data);

                if (data.fav_count === 0) {
                    $("#" + escaped_User_id + "." + b_no + ' div.study-fav-icon1 a.fav i')
                        .removeClass('fa-solid fa-star')
                        .addClass('fa-regular fa-star')
                        .css("color", "#DADADA");
                } else {
                    $("#" + escaped_User_id + "." + b_no + ' div.study-fav-icon1 a.fav i')
                        .removeClass('fa-regular fa-star')
                        .addClass('fa-solid fa-star')
                        .css("color","#FFD43B");

                }
            },
            error: function (data) {
                console.log('AJAX ERROR - fav_btn_confirm()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');
            }
        });
    }
    /*
     * fav_btn_confirm() END
     */
</script>