<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 관리 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <!-- ⭐본인 css 링크 작성⭐ -->
    <link rel="stylesheet" href="/css/study/study_in_progress.css">
    <link rel="stylesheet" href="/css/study/study_aside.css">
  </head>
<body>
    <header>
      <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
    </header>
    <div>
        <aside>
            <th:block th:replace="~{html/fragments/common_study_aside :: aside}"></th:block>
        </aside>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <!-- ⭐여기에 코드 작성⭐ -->
                    <div id="wrap">
                      <div class="study-management-filter">
                          <span class="study-filter-span"><a th:href="@{/study/study_in_progress_list}">진행중</a></span>
                          <span class="study-filter-span"><a th:href="@{/study/study_application_list}">신청목록</a></span>
                          <span class="study-filter-span"><a th:href="@{/study/study_fav_list}">즐겨찾기</a></span>
                      </div>
                      <div class="study-room-box">
                        <th:block th:each="studyDto : ${studyDtos}">
                        <div class="study-in-progress-box">
                          <a class="study-room-a" th:href="@{/studyroom(no=${studyDto.no})}" >
                          <div class="title study-box">
                            <p class="title-p" th:text="${studyDto.title}"></p>
                          </div>
                          <div class="date-box study-box">
                            <div class="date-title">
                              <span>기간: </span>
                            </div>
                            <div class="start-date" th:text="${studyDto.started_at}">
                              <span></span>
                            </div>
                            <span>~</span>
                            <div class="end-date" th:text="${studyDto.finished_at}">
                              <span></span>
                            </div>
                          </div>
                          <div class="count-box study-box">
                            <div class="count-title">
                              <span>인원: </span>
                            </div>
                            <div class="progress-count" th:text="${studyDto.count_member}">
                              <span>2</span>
                            </div>
                            <span>/</span>
                            <div class="total-count" th:text="${studyDto.count}">
                              <span></span>
                            </div>
                          </div>
                        </a>
                        </div>
                        </th:block>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
      <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
<!--    <script src="/js/common_main_header.js"></script>-->
<!--    <script src="/js/common_main_aside.js"></script>-->
<!--    <script src="/js/common_main_footer.js"></script>-->
</body>
</html>