<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 모집 리스트 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <!-- ⭐본인 css 링크 작성⭐ -->
    <link rel="stylesheet" href="/css/study/study_register_list.css" >
    <link rel="stylesheet" href="/css/study/study_aside.css">
    <script src="https://kit.fontawesome.com/011513753c.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
</header>
<div>
    <aside>
        <th:block th:replace="~{html/fragments/common_main_aside :: aside}"></th:block>
    </aside>
    <div class="background-gray middle-gray">
        <div class="background-white middle-white">
            <div class="contents-box">
                <!-- ⭐여기에 코드 작성⭐ -->
                <div class="study-regist-list-box">
                    <div class="study-text">
                        <p class="study-text-p">스터디 모집</p>
                    </div>
                    <div class="study-filter">
                        <div class="study-filter-li">
                            <ul class="study-ul">
                                <li class="study-li"><a href="#">최신순</a></li>
                                <li class="study-li"><a href="#">좋아요순</a></li>
                            </ul>
                        </div>
                        <div class="study-filter-select">
                            <select>
                                <option>전체</option>
                                <option>모집중</option>
                                <option>종료</option>
                            </select>
                        </div>
                    </div>
                        <div class="list-box">
                            <ul class="study-content-ul">
                                <th:block th:each="studyDto : ${studyDtos}">
                                    <a th:href="@{/study/study_detail(no=${studyDto.no})}">
                                        <li class="study-content-li first">
                                            <div class="study-title">
                                                <th:block th:if="${studyDto.finished_at} < ${studyDto.cur_date} or ${studyDto.count} <= ${studyDto.count_member}">
                                                    <span class="study-status finish">종료</span>
                                                </th:block>
                                                <th:block th:if="${studyDto.finished_at} >= ${studyDto.cur_date} and ${studyDto.count} > ${studyDto.count_member}">
                                                    <span class="study-status">모집중</span>
                                                </th:block>
                                                <span th:text="${studyDto.title}"></span>
                                            </div>
                                            <div class="study-content">
                                                <p  th:text="${studyDto.content}"></p>
                                            </div>
                                            <div class="study-info">
                                                <div class="study-writer-date">
                                                    <span class="span-color" th:text="${studyDto.name}"></span>
                                                    <span class="span-color">·</span>
                                                    <span class="span-color" th:text="${studyDto.created_at}"></span>
                                                </div>
                                                <div class="study-like">
                                                    <ul>
                                                        <li class="li-wid">
                                                            <i class="fa-regular fa-heart" style="width: 15px;"></i>
                                                            <span class="span-color">555</span>
                                                        </li>
                                                        <li class="li-wid">
                                                            <i class="fa-regular fa-eye" style="width: 15px;"></i>
                                                            <span class="span-color" th:text="${studyDto.views}"></span>
                                                        </li>
                                                        <li class="li-wid">
                                                            <i class="fa-regular fa-comment" style="width: 15px;"></i>
                                                            <span class="span-color">555</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                </th:block>
                            </ul>
                        </div>
                        <div class="study-btn-box">
                            <a class="study-regist-btn study-regist-input study-btn" th:href="@{/study/study_register_form}">글쓰기</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
</footer>
<!--<script src="/js/common_main_header.js"></script>-->
<!--<script src="/js/common_main_aside.js"></script>-->
<!--<script src="/js/common_main_footer.js"></script>-->
</body>
</html>