<script th:fragment="js" th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        console.log("DOCUMENT WILL BE READY TO TALK");

        // 이벤트 핸들러 초기화
        init_events();
    });

    /*
     * init_events() START
     */
    function init_events() {
        console.log("init_events() CALLED!!");

        ajax_show_memoir_mate_name();

        // data-no
        let study_no = $(".study-room-box").parent().attr('study_no');
        console.log("study_no: " + study_no);

        // 리스트 조회
        ajax_show_memoir_list(study_no);

        // 등록
        $(document).on("click", "#well_btn", function (e) {
            console.log("#well_btn CLICK HANDLER!!");

            let m_category_no = $(this).data("m_category_no");
            console.log("m_category_no: " + m_category_no);

            register_memoir(m_category_no, ".study-room-container", "#plus_btn");
        });

        $(document).on("click", "#improve_btn", function (e) {
            console.log("#improve_btn CLICK HANDLER!!");

            let m_category_no = $(this).data("m_category_no");
            console.log("m_category_no: " + m_category_no);

            register_memoir(m_category_no, ".study-room-container-improve", "#improve_plus_btn");
        });

        $(document).on("click", "#todo_btn", function (e) {
            console.log("#todo_btn CLICK HANDLER!!");

            let m_category_no = $(this).data("m_category_no");
            console.log("m_category_no: " + m_category_no);

            register_memoir(m_category_no, ".study-room-container-todo", "#todo_plus_btn");
        });

        // 등록 확인
        $(document).on("click", "#register_btn", function (e) {
            console.log("#register_btn CLICK HANDLER!!");

            let m_category_no = $(this).data("m_category_no");
            let content = $('#content').val();

            ajax_register_confirm_memoir(study_no, m_category_no, content);
        });

        // 수정
        $(document).on("click", "#modify_btn", function (e) {
            console.log("#modify_btn CLICK HANDLER!!");

            let well_no = $(this).data("modify");
            let well_content = $('.' + well_no).text();

            modify_memoir(well_no, well_content, $(this).closest('.study-room-container'));
            modify_memoir(well_no, well_content, $(this).closest('.study-room-container-improve'));
            modify_memoir(well_no, well_content, $(this).closest('.study-room-container-todo'));
        });

        // 수정 확인
        $(document).on("click", "#modify_ok_btn", function (e) {
            let well_no = $('#well_no_modify').val();
            let well_content = $('#well_content_modify').val();

            ajax_modify_confirm_memoir(study_no, well_no, well_content);
        });

        // 삭제
        $(document).on("click", "#delete_btn", function (e) {
            let no = $(this).data("delete");

            let isYes = confirm("정말 삭제하시겠습니까?");
            if (isYes) {
                ajax_delete_confirm_memoir(study_no, no);
            }
        });

        // 취소
        $(document).on("click", "#cancel_btn", function (e) {
            console.log("#cancel_btn CLICK HANDLER!!");

            cancel_regist_memoir();
        });
    }

    /*
     * register_memoir() START
     */
    function register_memoir(m_category_no, containerSelector, buttonSelector) {
        console.log("register_memoir() CALLED!!");

        let appendTag = '<div class="study-room-document regist-study-room-box" id="went_well">';
        appendTag += '<div class="study-room-doc-2 remove-regist-memoir-form">';
        appendTag += '<textarea name="content" id="content"></textarea>';
        appendTag += '</div>';

        appendTag += '<div class="study-room-doc-3 remove-regist-memoir-form">';
        appendTag += '<div class="study-room-doc-btn">';
        appendTag += '<input class="check-btn btn font" id="register_btn" data-m_category_no="' + m_category_no + '" type="submit" value="확인"/>';
        appendTag += '<input class="check-btn btn font" id="cancel_btn" type="button" value="취소"/>';
        appendTag += '</div>';
        appendTag += '</div>';
        appendTag += '</div>';

        $(containerSelector).append(appendTag);

        $(buttonSelector).hide();

        $(".show-study-room-box").hide();

        $(".regist-study-room-box").css({
            "width": "220px",
            "height": "280px",
            "border": "1px solid #fff",
            "background": "#fff",
            "border-radius": "10px"
        });

        $(".study-room-doc-2").css({
            "height": "260px",
            "max-height": "260px",
            "width": "220px"
        });
    }

    /*
    * register_memoir() END
     */

    /*
     * ajax_register_confirm_memoir() START
     */
    function ajax_register_confirm_memoir(study_no, m_category_no, content) {
        let formData = new FormData();
        formData.append("study_no", study_no);
        formData.append("m_category_no", m_category_no);
        formData.append("content", content);

        console.log("study_no: " + study_no);
        console.log("m_category_no: " + m_category_no);
        console.log("content: " + content);

        $.ajax({
            url: `/studyroom/study_register_confirm`,
            method: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('ajax_register_confirm_memoir');
                console.log(data);

                $(".regist-study-room-box").remove();
                $(".add-btn").show();

                ajax_show_memoir_list(study_no);
            },
            error: function () {
                console.log('AJAX ERROR - ajax_register_confirm_memoir()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');
            }
        });
    }

    /*
     * ajax_register_confirm_memoir() END
     */

    /*
     * cancel_regist_memoir() START
     */
    function cancel_regist_memoir() {
        console.log("cancel_regist_memoir() CALLED!!");

        location.reload();
    }

    /*
     * cancel_regist_memoir() END
     */

    /*
     * ajax_show_memoir_list() START
     */
    function ajax_show_memoir_list(study_no) {
        console.log("ajax_show_memoir_list() CALLED!!");

        $.ajax({
            url: `/studyroom/memoir_list?study_no=${study_no}`,
            method: 'GET',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('ajax_show_memoir_list');
                console.log(data);

                $(".study-room-container, .study-room-container-improve, .study-room-container-todo").empty();

                let logined_id = [[${session.loginUser.id}]];
                let studyRoomDtos = data;

                for (let i = 0; i < studyRoomDtos.length; i++) {
                    let appendTag = '<div class="study-room-document show-study-room-box" data-m_category_no="' + studyRoomDtos[i].m_category_no + '" id="went_well">';
                    appendTag += '<input name="no" id="well_no" type="hidden" value =' + studyRoomDtos[i].no + '>';
                    appendTag += '<div class="study-room-doc-1">';
                    appendTag += '<div class="name"><span id="well_name" class="doc-span doc-font">' + studyRoomDtos[i].name + '</span></div>';
                    appendTag += '<div class="date">';
                    appendTag += '<p class="doc-font">' + studyRoomDtos[i].created_at + '</p>';
                    appendTag += '</div>';
                    appendTag += '</div>';

                    appendTag += '<div class="study-room-doc-2" style="white-space:pre;">';
                    appendTag += '<p style="white-space:pre;" id="well_content" class ="' + studyRoomDtos[i].no + '">' + studyRoomDtos[i].content + '</p>';
                    appendTag += '</div>';
                    appendTag += '<div class="study-room-doc-3">';
                    appendTag += '<div class="study-room-doc-btn">';
                    if (logined_id === studyRoomDtos[i].user_id) {
                        appendTag += '<span class="doc-span"><a class="doc-font" id="modify_btn" value="UPDATE" data-modify=' + studyRoomDtos[i].no + '>수정</a></span>';
                        appendTag += '<span class="doc-span"><a class="doc-font" id="delete_btn" value="DELETE" data-delete=' + studyRoomDtos[i].no + '>삭제</a></span>';
                    }

                    appendTag += '</div>';
                    appendTag += '</div>';
                    appendTag += '</div>';

                    if (studyRoomDtos[i].m_category_no === 1) {
                        $(".study-room-container").append(appendTag);
                    } else if (studyRoomDtos[i].m_category_no === 2) {
                        $(".study-room-container-improve").append(appendTag);
                    } else if (studyRoomDtos[i].m_category_no === 3) {
                        $(".study-room-container-todo").append(appendTag);
                    }
                }
            },
            error: function () {
                console.log('AJAX ERROR - ajax_show_memoir_list()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');
            }
        });
    }

    /*
     * ajax_show_memoir_list() END
     */

    /*
     * modify_memoir() START
     */
    function modify_memoir(well_no, well_content, container) {
        console.log("modify_memoir() CALLED!!");

        let appendTag = '<div class="study-room-document regist-study-room-box" id="went_well_modify">';
        appendTag += '<div class="study-room-doc-2 remove-regist-memoir-form">';
        appendTag += '<input name="no" id="well_no_modify" type="hidden" value ="' + well_no + '">';
        appendTag += '<textarea name="content" id="well_content_modify">' + well_content + '</textarea>';
        appendTag += '</div>';

        appendTag += '<div class="study-room-doc-3 remove-regist-memoir-form">';
        appendTag += '<div class="study-room-doc-btn">';
        appendTag += '<input class="check-btn btn font" id="modify_ok_btn" type="submit" value="확인"/>';
        appendTag += '<input class="check-btn btn font" id="cancel_btn" type="button" value="취소"/>';
        appendTag += '</div>';
        appendTag += '</div>';
        appendTag += '</div>';

        container.append(appendTag);

        $("#plus_btn, #improve_plus_btn, #todo_plus_btn").hide();

        $(".show-study-room-box").hide();

        $(".regist-study-room-box").css({
            "width": "220px",
            "height": "280px",
            "border": "1px solid #fff",
            "background": "#fff",
            "border-radius": "10px"
        });

        $(".study-room-doc-2").css({
            "height": "260px",
            "max-height": "260px",
            "width": "220px"
        });
    }

    /*
     * modify_memoir() END
     */

    /*
     * ajax_modify_confirm_memoir() START
     */
    function ajax_modify_confirm_memoir(study_no, no, content) {
        let formData = new FormData();
        formData.append("study_no", study_no);
        formData.append("no", no);
        formData.append("content", content);

        console.log("study_no: " + study_no);
        console.log("well_no: " + no);
        console.log("well_content: " + content);

        $.ajax({
            url: `/studyroom/study_modify_confirm`,
            method: 'PUT',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('ajax_modify_confirm_memoir');
                console.log(data);

                $(".regist-study-room-box").remove();
                $(".add-btn").show();

                ajax_show_memoir_list(study_no);
            },
            error: function () {
                console.log('AJAX ERROR - ajax_modify_confirm_memoir()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');
            }
        });
    }

    /*
     * ajax_modify_confirm_memoir() END
     */

    /*
     * ajax_delete_confirm_memoir() START
     */
    function ajax_delete_confirm_memoir(study_no, no) {
        let formData = new FormData();
        formData.append("study_no", study_no);
        formData.append("no", no);

        console.log("study_no: " + study_no);
        console.log("no: " + no);

        $.ajax({
            url: `/studyroom/study_delete_confirm`,
            method: 'DELETE',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                console.log('ajax_delete_confirm_memoir');
                console.log(data);

                $(".regist-study-room-box").remove();
                $(".add-btn").show();

                ajax_show_memoir_list(study_no);
            },
            error: function () {
                console.log('AJAX ERROR - ajax_delete_confirm_memoir()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');
            }
        });
    }

    /*
     * ajax_delete_confirm_memoir() END
     */

    /*
     * ajax_show_memoir_mate_name() START
     */
    function ajax_show_memoir_mate_name() {
        console.log('ajax_show_memoir_mate_name()');

        let study_no = document.getElementById('wrap').getAttribute('study_no');
        console.log("study_no: " + study_no)

        $.ajax({
            url: `/studyroom/memoir_list_mate?study_no=${study_no}`,
            method: 'GET',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_show_memoir_mate_name()');
                console.log(data);

                let mateNames = data;

                for(let i = 0; i < mateNames.length; i++) {
                    let appendTag = '<li class="study-menu study-info">';
                    appendTag += '<i class="fa-regular fa-face-smile"></i>';
                    appendTag += '<p class="aside-text study-info-text font">' + mateNames[i].name +'</p>'
                    appendTag += '</li>'

                    $(".scroll-ul").append(appendTag);
                }

            },
            error: function () {
                console.log('AJAX ERROR - ajax_show_memoir_mate_name()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');
            }
        });
    }
    /*
     * ajax_show_memoir_mate_name() END
     */

</script>
