<script th:fragment="js" th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        console.log("DOCUMENT WILL BE RAEDY TO EBTALK");

        // 이벤트 핸들러 초기화
        init_events();

    })

    /*
     * init_events() START
     */
    function init_events() {
        console.log("init_events() CALLED!!");

        // 관리자 승인 처리
        $(document).on('click', '.approve-yn-bottom', function (e) {
            console.log("btn_approval CLICK HANDLER");

            let result = confirm('상태를 변경하시겠습니까?');

            if(result) {
                let user_id = $(this).parent().attr('id');
                let study_no = $(this).parent().attr('class').split(' ')[1];
                ajax_approval_confirm(user_id, study_no);
            } else {
                alert('취소되었습니다.')
            }

        })
    }

    /*
     * ajax_approval_confirm() START
     */
    function ajax_approval_confirm(user_id, study_no) {
        console.log('ajax_approval_confirm() CALLED!!');

        study_no = Number(study_no);

        $.ajax({
            url: `/study/study_application_list_confirm?user_id=${user_id}&study_no=${study_no}`,
            method: 'POST',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_approval_confirm()');
                console.log(data);

                // 특수 문자를 이스케이프 처리하는 함수
                function escapeSelector(selector) {
                    return selector.replace(/([ #;?%&,.+*~':"!^$[\]()=>|\/@])/g, '\\$1');
                }
                let escaped_User_id = escapeSelector(user_id);

                if(data.result === 'N') {
                    $("#" + escaped_User_id + "." + study_no + ' div.approve-yn-bottom a.approval').text("승인대기");
                    $("#" + escaped_User_id + "." + study_no + ' div.approve-yn-bottom')
                        .css("background-color", "var(--back_gray)");
                } else {
                    $("#" + escaped_User_id + "." + study_no + ' div.approve-yn-bottom a.approval').text("승인완료");
                    $("#" + escaped_User_id + "." + study_no + ' div.approve-yn-bottom')
                        .css('background-color', '#7A86B1')


                }
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_approval_confirm()');
                alert('문제가 발생했습니다. 다시 시도해주세요.');

            }
        });

    }
    /*
     * ajax_approval_confirm() END
     */


</script>