<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 모집 상세 : 이비톡</title>
    <link rel="stylesheet" href="/css/common/common_main.css">
    <link rel="stylesheet" href="/css/study/study_register_detail.css" >
    <link rel="stylesheet" href="/css/study/study_aside.css">
    <!-- ⭐본인 css 링크 작성⭐ -->
    <script crossOrigin="anonymous"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://kit.fontawesome.com/011513753c.js" crossorigin="anonymous"></script>
    <script th:replace="~{/html/study/study_register_detail_js.html::js}"></script>
</head>
<body>
    <header>
        <th:block th:replace="~{html/fragments/common_main_header :: header-main}"></th:block>
    </header>
    <div>
        <aside>
            <th:block th:replace="~{html/fragments/common_main_aside :: aside}"></th:block>

        </aside>
        <div class="background-gray middle-gray">
            <div class="background-white middle-white">
                <div class="contents-box">
                    <!-- ⭐여기에 코드 작성⭐ -->
                    <div class="study-regist-detail-box">
                        <form method="get" id="study_delete_form">
                            <div class="study-text">
                            <div class="study-text-div">
                                <p class="study-text-p">스터디 모집</p>
                            </div>
                            <div class="study-cancel-icon">
                                <a th:href="@{/study/study_delete_confirm(no=${studyDto.no})}" onclick="return confirm('정말 삭제하시겠습니까?');">
                                <i class="fa-solid fa-delete-left"></i>
                                </a>
                            </div>
                        </div>
                          <div class="board-box">
                            <div class="title-box study-detail-box">
                              <span class="title span-first">제목 </span>
                              <span class="title-value value" th:text="${studyDto.title}"></span>
                            </div>
                            <div class="date-box study-detail-box">
                              <span class="date span-first">기간 </span>
                              <span class="date-value-1 value" th:text="${studyDto.started_at}"></span>
                              <span>~</span>
                              <span class="date-value-2 value" th:text="${studyDto.finished_at}"></span>
                            </div>
                            <div class="count-box study-detail-box">
                              <span class="count span-first">정원 </span>
                              <span class="count-value value" th:text="${studyDto.count}"></span>
                              <span class="value">명</span>
                            </div>
                            <div class="content-box study-detail-box">
                                  <div class="content span-first">
                                    내용
                                  </div>
                                  <div class="content-value value" th:text="${studyDto.content}">

                                  </div>
                            </div>
                          </div>
                            <div class="study-btn-box">
                                <a class="study-regist-btn study-regist-input study-btn" th:href="@{/study/study_modify_form(no=${studyDto.no})}">수정</a>
                                <a class="study-cancel-btn study-regist-input study-btn" th:href="@{/study/study_list}">목록</a>
                            </div>

<!--                            <th:block th:if="${studyDto.user_id == session.loginedUserDto.id}">-->
<!--                                <div class="study-btn-box">-->
<!--                                    <a class="study-regist-btn study-regist-input study-btn" th:href="@{/study/study_modify_form(no=${studyDto.no})}">수정</a>-->
<!--                                    <a class="study-cancel-btn study-regist-input study-btn">목록</a>-->
<!--                                </div>-->
<!--                            </th:block>-->

<!--                            <th:block th:if="${studyDto.user_id != session.loginedUserDto.id}">-->
<!--                                <div class="study-btn-box">-->
<!--                                    <a class="study-regist-btn study-regist-input study-btn" th:href="@{/study/study_approvate_form(no=${studyDto.user_id})}">신청</a>-->
<!--                                    <a class="study-cancel-btn study-regist-input study-btn">목록</a>-->
<!--                                </div>-->
<!--                            </th:block>-->

                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{html/fragments/common_main_footer :: footer}"></th:block>
    </footer>
<!--    <script src="/js/common_main_header.js"></script>-->
<!--    <script src="/js/common_main_aside.js"></script>-->
<!--    <script src="/js/common_main_footer.js"></script>-->
    <script src="/js/study/study_aside.js"></script>
</body>
</html>