<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pknu.ebtalk.mappers.board.INotificationMapper">

    <!-- 최대 번호 조회 -->
    <select id="getMaxPostNumber" resultType="int">
        SELECT COALESCE(MAX(no), 0) FROM board
    </select>

    <!-- 게시글 추가 (번호를 수동 할당) -->
    <insert id="insertNotificationInfo" parameterType="com.pknu.ebtalk.dto.board.BoardDto">
        INSERT INTO
            board(no, user_id, b_category_no, title, content, views, created_at)
        VALUES
            (
                #{no},
                #{user_id},
                #{b_category_no},
                #{title},
                #{content},
                #{views},
                now()
            )
    </insert>

    <select id="selectNotificationInfoByNo" parameterType="Integer" resultType="com.pknu.ebtalk.dto.board.BoardDto">
        SELECT
            b.no,
            b.user_id,
            b.b_category_no,
            b.title,
            b.content,
            b.views,
            b.modified_at,
            b.created_at,
            u.name
        FROM board AS b
        JOIN user AS u ON b.user_id = u.id
        WHERE b.no = #{no}
    </select>

    <update id="updateNotificationInfo" parameterType="com.pknu.ebtalk.dto.board.BoardDto">
        UPDATE board
        SET
            b_category_no = #{b_category_no},
            title = #{title},
            content = #{content}
        WHERE no = #{no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteNotificationInfoByNo" parameterType="int">
        DELETE FROM board WHERE no = #{no}
    </delete>

    <!-- 번호 재정렬 -->
    <update id="reorderPostNumbers" parameterType="int">
        UPDATE board
        SET no = no - 1
        WHERE no > #{no};
    </update>

    <!-- 전체 게시글 수 조회 -->
    <select id="getCount" resultType="int">
        SELECT count(*) AS listCnt FROM board
    </select>

    <!-- 페이징을 위한 게시글 리스트 조회 -->
    <select id="getListPage" parameterType="com.pknu.ebtalk.dto.board.PaginationVo" resultType="com.pknu.ebtalk.dto.board.BoardDto">
        SELECT
            b.no,
            b.user_id,
            b.b_category_no,
            b.title,
            b.content,
            b.views,
            b.modified_at,
            b.created_at,
            u.name
        FROM board AS b
        JOIN user AS u ON b.user_id = u.id
        ORDER BY no ASC
        LIMIT #{rowCount}
            OFFSET #{offset}
    </select>

    <update id="updateHits" parameterType="Integer">
        UPDATE board SET views = views + 1 WHERE no = #{no}
    </update>

    <!-- 검색을 위한 게시글 리스트 조회 -->
    <select id="searchNotifications" parameterType="map" resultType="com.pknu.ebtalk.dto.board.BoardDto">
        SELECT * FROM board
        WHERE
        <choose>
            <when test="searchKey == 'title'">
                title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="searchKey == 'user_id'">
                user_id LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY no ASC
        LIMIT #{paginationVo.rowCount}
        OFFSET #{paginationVo.offset}
    </select>

    <!-- 검색 결과의 총 개수 조회 -->
    <select id="countSearchNotifications" parameterType="map" resultType="int">
        SELECT count(*) FROM board
        WHERE
        <choose>
            <when test="searchKey == 'title'">
                title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="searchKey == 'user_id'">
                user_id LIKE CONCAT('%', #{keyword}, '%')
            </when>
        </choose>
    </select>

    <!-- 카테고리별 게시글 총 개수 조회 -->
    <select id="getCountByCategory" parameterType="int" resultType="int">
        SELECT count(*) AS listCnt FROM board WHERE b_category_no = #{categoryNo}
    </select>

    <!-- 카테고리별 페이징을 위한 게시글 리스트 조회 -->
    <select id="getListPageByCategory" parameterType="map" resultType="com.pknu.ebtalk.dto.board.BoardDto">
        SELECT *
        FROM board
        WHERE b_category_no = #{categoryNo}
        ORDER BY no ASC
            LIMIT #{paginationVo.rowCount}
        OFFSET #{paginationVo.offset}
    </select>

</mapper>
